<div class="container-fluid">
  <div class="main row" style=" height: 350px;">
      <div class="menu col-md-1 col-lg-1" >
          <div class="homeM">
            <a>
              <img src="/assets/images/home.png"
              style="width: 35px; height: 35px;"
              (click)="inicioAlumnos()">  
              <p>Inicio</p>
            </a>
          </div>
          <div class="userM">
            <a>
              <img src="/assets/images/user (2).png"
              style="width: 35px; height: 35px;"
              (click)="perfilAlumnos()">  
            </a>
            <p>Perfil</p>
          </div>
          <div class="documentosM">
            <a>
              <img src="/assets/images/file.png"
              style="width: 35px; height: 35px;"
              (click)="documentosAlumnos()">
            </a>
            <p>Documentos</p>
          </div>
          <div class="programasM">
            <a>
              <img src="/assets/images/web.png"
              style="width: 35px; height: 35px;"
              (click)="filesAlumnos()">
            </a>
            <p>Programas</p>
          </div>
          <div class="tutorialesM">
            <a>
              <img src="/assets/images/play-button.png"
              style="width: 35px; height: 35px;"
              (click)="tutorialesAlumnos()">
            </a>
            <p>Tutoriales</p>
          </div>
          <div class="salonesM">
            <a>
              <img src="/assets/images/chair.png"
              style="width: 35px; height: 35px;"
              (click)="salonesAlumnos()">
            </a>
            <p>Salones</p>
          </div>
          <div class="logout">
            <a>
              <img src="/assets/images/exit.png"
              style="width: 35px; height: 35px;"
              (click)="logout()">  
              <p>Salir</p>
            </a>
          </div>
        <div class="resaltarTutoriales">
        </div>
      </div>
      <div class="espacio col-md-2 col-lg-2"></div>
      <div class="buscador col-md-6 col-lg-6" id="search" style="overflow: scroll;">
        <INPUT TYPE="text" name="bucadorDocumetos" id="searchBar" placeholder="Buscar..." value="" size="25"/>
        <ul id="directory">
          <li>
            <div class="tutorial">
              <a href="https://www.youtube.com/watch?v=_pQsG_xnndw" target="_blank">
              <img src="https://i.ytimg.com/vi/_pQsG_xnndw/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBWMl3eki2UAfzehcEa_4RqiWPV4Q" 
              width="50%" height="50%" ></a>
              <h4 class="name">Bootstrap 01 por FalconMasters</h4>
            </div>
          </li>
          <li>
            <div class="tutorial">
              <a href="https://www.youtube.com/watch?v=1erefRNcoC0" target="_blank">
              <img src="https://i.ytimg.com/vi/1erefRNcoC0/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBDp9kPDbAqgMg2WIuTDpBgHJ6fBw" 
              width="50%" height="50%" ></a>
              <h4 class="name">Bootstrap 02 por FalconMasters</h4>
            </div>
          </li>
        </ul>
      </div> 
      <div class="espacio col-md-3 col-lg-3"></div>
    </div>
</div>
  