<div class="container-fluid">
  <div class="main row" style=" height: 350px;">
    <div class="menu col-md-1 col-lg-1" >
      <div class="homeM">
        <a href="/maestrosInicio">
          <img src="/assets/images/home.png"
          style="width: 35px; height: 35px;">  
          <p>Inicio</p>
        </a>
      </div>
      <div class="userM">
        <a href="/maestrosPerfil">
          <img src="/assets/images/user (2).png"
          style="width: 35px; height: 35px;">  
        </a>
        <p>Perfil</p>
      </div>
      <div class="documentosM">
        <a href="/maestrosDoc">
          <img src="/assets/images/file.png"
          style="width: 35px; height: 35px;">
        </a>
        <p>Documentos</p>
      </div>
      <div class="programasM">
        <a href="/maestrosFiles">
          <img src="/assets/images/web.png"
          style="width: 35px; height: 35px;">
        </a>
        <p>Programas</p>
      </div>
      <div class="tutorialesM">
        <a href="/maestrosTutoriales">
          <img src="/assets/images/play-button.png"
          style="width: 35px; height: 35px;">
        </a>
        <p>Tutoriales</p>
      </div>
      <div class="salonesM">
        <a href="/maestrosSalones">
          <img src="/assets/images/chair.png"
          style="width: 35px; height: 35px;">
        </a>
        <p>Salones</p>
      </div>
      <div class="peticion">
        <a href="/maestrosPeticiones">
          <img src="/assets/images/envelope.png"
          style="width: 35px; height: 35px;">
        </a>
        <p>Peteciones</p>       
      </div>
      <div class="logout">
        <a href="/index">
          <img src="/assets/images/exit.png"
          style="width: 35px; height: 35px;">  
          <p>Salir</p>
        </a>
      </div>
      <div class="resaltarSalones">
      </div>
    </div>
    <div class="espacio col-md-1 col-lg-1"></div>
    <div class="informacion col-md-1 col-lg-1">
      <div class="top"></div>
      <div class="detalles" id="detalles1">
        <h3 id="abrir-popup">A1</h3>
      </div>
      <div class="detalles"id="detalles2">
        <h3 id="abrir-popup2">A2</h3>
      </div>
      <div class="detalles" id="detalles3">
        <h3 id="abrir-popup3">A3</h3>
      </div>
      <div class="detalles" id="detalles4">
        <h3 id="abrir-popup4">A4</h3>
      </div>
      <div class="detalles" id="detalles5">
        <h3 id="abrir-popupjefatura">Jefatura</h3>
      </div>
      <div class="detalles" id="detalles6">
        <h3 id="abrir-popupcaseta">Caseta</h3>
      </div>
      <div class="detalles" id="detalles7">
        <h3 id="upstairs">Planta alta</h3>
      </div>
      <div class="detallesPlantaAlta" id="detallesPlantaAlta1">
        <h3 id="downstairs">Planta baja</h3>
      </div>
      <div class="detallesPlantaAlta" id="detallesPlantaAlta2">
        <h3 id="lc25">LC25</h3>
      </div>
      <div class="detallesPlantaAlta" id="detallesPlantaAlta3">
        <h3 id="lc24">LC24</h3>
      </div>
      <div class="detallesPlantaAlta" id="detallesPlantaAlta4">
        <h3 id="lc22">LC22</h3>
      </div>
      <div class="detallesPlantaAlta" id="detallesPlantaAlta5">
        <h3 id="redes">Lab de redes</h3>
      </div>
    </div>
    <div class="mapa col-md-9 col-lg-9" style="position: relative;">
      <img class="pB" id="pB"src="/assets/images/pb.png" style="width: 95%;">
      <img class="pA" id="pA" src="/assets/images/pa.png" style="width: 95%;">
    </div>
    <div class="overlay" id="overlay">
      <div class="popup" id="popup">
          <a  id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times" ></i></a>
          <h3>Área uno</h3>
          <p>El área 1 está reservada para los alumnos. En ella pueden trabajar en sus actividades estudiantiles, sin
            la preocupación de que ocupen ese salon.
            Esta aula cuenta con cuatro islas y dos mesas que el alumado puede utilizar para realizar sus trabajos. Además de que cuentan
            Con acceso a internet.
          </p>
      </div>
    </div>  
    <div class="overlay2" id="overlay2">
      <div class="popup2" id="popup2">
          <a id="btn-cerrar-popup2" class="btn-cerrar-popup2"><i class="fas fa-times" ></i></a>
          <h3>Área dos</h3>
          <p>
            Esta area cuenta con <b>20</b> equipos de computo equipados para que los alumnos puedan realizar
            sus prácticas de cada clase. Las comutadoras cuentan con los soguientes programas.
          </p>
            <ul>
              <li>Xampp</li>
              <li>NetBeans</li>
              <li>Visual Studio Code</li>
              <li>Mysql</li>
              <li>Python</li>
            </ul>
      </div>
    </div>
    <div class="overlay3" id="overlay3">
      <div class="popup3" id="popup3">
          <a  id="btn-cerrar-popup3" class="btn-cerrar-popup3"><i class="fas fa-times" ></i></a>
          <h3>Área tres</h3>
          <p>
            Esta aula es la más variada con respecto al equipo de computo. Ya que tiene 4 computadoras lenovo,
            6 computadoras HP y 6 computadoras Dell Xeon, ya que esta es una de las áreas más utilizadas por alumnos con
            materías que implican equipos potentes para poder trabajar. Los programas que se tienen en esta área son:
          </p>
            <ul>
              <li>Android studio</li>
              <li>Xampp</li>
              <li>NetBeans</li>
              <li>Visual Studio Code</li>
              <li>Mysql</li>
              <li>Python</li>
              <li>Autocad</li>
              <li>Dia</li>
              <li>JCreator</li>
            </ul>
      </div>
    </div>
    <div class="overlay4" id="overlay4">
      <div class="popup4" id="popup4">
          <a  id="btn-cerrar-popup4" class="btn-cerrar-popup4"><i class="fas fa-times" ></i></a>
          <h3>Área cuatro</h3>
          <p>
            El área cuatro es la que tiene equipo nuevo en su totalidad. Otorgando a los alumnos 18 equipos de computo
            DELL Xeon de última 
          </p>
          <ul>
            <li>Android studio</li>
            <li>Xampp</li>
            <li>NetBeans</li>
            <li>Visual Studio Code</li>
            <li>Mysql</li>
            <li>Python</li>
            <li>Autocad</li>
            <li>Dia</li>
            <li>JCreator</li>
          </ul>
      </div>
    </div>
    <div class="overlayjefatura" id="overlayjefatura">
      <div class="popupjefatura" id="popupjefatura">
          <a  id="btn-cerrar-popupjefatura" class="btn-cerrar-popupjefatura"><i class="fas fa-times" ></i></a>
          <h3>Jefatura</h3>
          <p>
            En la jefatura se encuentra el docente acargo del laboratorio de sistemas, que es el Licenciado Gustoabo Solano.
            Que cuenta con la total disponibilidad para resolver cualquier inconveniente que se presente con las instalaciones.
          </p>
          <img src="">
      </div>
    </div>
    <div class="overlaycaseta" id="overlaycaseta">
      <div class="popupcaseta" id="popupcaseta">
          <a  id="btn-cerrar-popupcaseta" class="btn-cerrar-popupcaseta"><i class="fas fa-times" ></i></a>
          <h3>Caseta</h3>
          <p>
            La caseta es de vital importancia, ya que ahí se encuentra el encargado del laboratorio, que en caso
            de que el licenciaod Solano no se encuentre, él estará aacargo del laboratorio. Además, aquí se pueden encontrar las
            llaves de los salones de la planta alta, cables ethernet, cables seriales y controles de aire acondicionado.
          </p>
          <img src="">
      </div>
    </div>
    <div class="overlaylc25" id="overlaylc25">
      <div class="popuplc25" id="popuplc25">
          <a  id="btn-cerrar-popuplc25" class="btn-cerrar-popuplc25"><i class="fas fa-times" ></i></a>
          <h3>LC25</h3>
          <p>
            Esta área cuenta con 15 computadoras MAC con dual boot, Windows y MAC. Está área la usan principalmente los 
            alumnos de la especialidad de moviles para realizar sus practicas para ambos sistemas operativos.
          </p>
          <img src="">
      </div>
    </div>
    <div class="overlaylc24" id="overlaylc24">
      <div class="popuplc24" id="popuplc24">
          <a  id="btn-cerrar-popuplc24" class="btn-cerrar-popuplc24"><i class="fas fa-times" ></i></a>
          <h3>LC24</h3>
          <p>
            Este salon es uno de los más grandes, ya que cuenta con <b>30</b> equipos de computo reservados para los 
            alumnos que apenas inician sus carreras, ya que en este salon llas clases que se imparten con más frecuencis son 
            <b>Fundamentos de programación</b>, <b>programación orientada a objetos y estructuras de datos</b>. Este salon cuenta con la siguiente
            paquetería:
          </p>
            <ul>
              <li>NetBeans</li>
              <li>Sublime Text</li>
              <li>}Python</li>
              <li>JCreator</li>
              <li>Ready to program</li>
            </ul>

          <img src="">
      </div>
    </div>
    <div class="overlaylc22" id="overlaylc22">
      <div class="popuplc22" id="popuplc22">
          <a  id="btn-cerrar-popuplc22" class="btn-cerrar-popuplc22"><i class="fas fa-times" ></i></a>
          <h3>LC22</h3>
          <p>
            Este salon cuenta con <b>20</b> equipos de computo reservados para los 
            alumnos que apenas inician sus carreras, ya que en este salon llas clases que se imparten con más frecuencis son 
            <b>Fundamentos de programación</b>, <b>programación orientada a objetos  estructuras de datos</b>. Este salon cuenta con la siguiente
          </p>
          <ul>
            <li>NetBeans</li>
            <li>Sublime Text</li>
            <li>}Python</li>
            <li>JCreator</li>
            <li>Ready to program</li>
          </ul>
          <img src="">
      </div>
    </div>
    <div class="overlayredes" id="overlayredes">
      <div class="popupredes" id="popupredes">
          <a  id="btn-cerrar-popupredes" class="btn-cerrar-popupredes"><i class="fas fa-times" ></i></a>
          <h3>Laboratorio de redes</h3>
          <p>
            Esta aula es una de las más importes, ya que es aquí donde los alumnos realizan sus prácticas de redes de forma digital con
            ayuda del software <b>Cisco PAcket Tracer</b> para despues hacerlas en equipo real.
            Esta area cuenta con 8 equipos DELL para realizar las prácticas virtuales y 4 estaciones equipadas con una computadora, dos switches y dos router.  
          </p>
          <img src="">
      </div>
    </div>
  </div>
</div>