
  <div class="row container-fluid">
    <div class="logos col-xs-12"style="width:100%;">
      <div class="tnm" style="width: 120px;">
        <img src="assets/images/tnm.png"style="width: 120px; height: 60px; ">
      </div>
      <div class="itd">
        <img src="assets/images/logo-itd-png.png"style="width: 75;height: 80px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="titulo col-md-4">
      <h1>Sistema Gestor de Archivos del ITD</h1>
      <br><br><br>
      </div>
      <div class="col-md-4"></div>
  </div>
  <div class="fondoLogE"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="logE">
        <div class="logEHeader">
            <br><br>
            <h1>Inicio de sesión.<br>Ingrese sus datos.</h1>
        </div>
        <div class="info">
            <p> Correo institucional</p>
            <input type="text" id="numeroControl" name="numeroControl" size="25" maxlength="30">
            <p>Constraseña </p>
            <input type="password" id="password" name="password" size="25" maxlength="30">  <br><br>
            <button (click)="login()" id="boton" class="boton">Ingresar</button> <br>
            <!-- <a href="/MaestrosInicio">¿Olvidaste tu contraseña?</a><br><br><br> -->
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>