<div class="container-fluid">
    <div class="main row" style=" height: 350px;">
        <div class="menu col-md-1 col-lg-1" >
            <div class="homeM">
              <a>
                <img src="/assets/images/home.png"
                style="width: 35px; height: 35px;"
                (click)="inicioAlumnos()">  
                <p>Inicio</p>
              </a>
            </div>
            <div class="userM">
              <a>
                <img src="/assets/images/user (2).png"
                style="width: 35px; height: 35px;"
                (click)="perfilAlumnos()">  
              </a>
              <p>Perfil</p>
            </div>
            <div class="documentosM">
              <a>
                <img src="/assets/images/file.png"
                style="width: 35px; height: 35px;"
                (click)="documentosAlumnos()">
              </a>
              <p>Documentos</p>
            </div>
            <div class="programasM">
              <a>
                <img src="/assets/images/web.png"
                style="width: 35px; height: 35px;"
                (click)="filesAlumnos()">
              </a>
              <p>Programas</p>
            </div>
            <div class="tutorialesM">
              <a>
                <img src="/assets/images/play-button.png"
                style="width: 35px; height: 35px;"
                (click)="tutorialesAlumnos()">
              </a>
              <p>Tutoriales</p>
            </div>
            <div class="salonesM">
              <a>
                <img src="/assets/images/chair.png"
                style="width: 35px; height: 35px;"
                (click)="salonesAlumnos()">
              </a>
              <p>Salones</p>
            </div>
            <div class="logout">
              <a>
                <img src="/assets/images/exit.png"
                style="width: 35px; height: 35px;"
                (click)="logout()">  
                <p>Salir</p>
              </a>
            </div>
          <div class="resaltarPerfil">
          </div>
        </div>
    <div class="espacio col-md-1 col-lg-1"></div>
    <div class="imagen col-xs-12 col-md-3 col-lg-3">
      <img src="assets/images/user (3).png"style="width:100px; height=100px;">
      <div class="info">
        <form>
          <br><label>Número de control</label>
          <br><input type="text" value="15041232"size="25" maxlength="35"disabled=”disabled” id="numControl">
          <br><br><label>Nombre</label>
          <br><input type="text" value="Carlos Erique Montañez Celis"size="25" maxlength="35"disabled=”disabled” id="nombreUsuario">
          <br><br> <label>Carrera</label>
          <br><input type="text" value="Ingenería en sistemas computacionales"size="25" maxlength="35"disabled=”disabled”>
          <br><br><label>Especialidad</label>
          <br><input type="text" value="Tecnología web"size="25" maxlength="35"disabled=”disabled”>
        </form>
      </div>  
    </div>
    <div class="espacio col-md-1 col-lg-1"></div>
    <div class="descargas col-md-12 col-md-5 col-lg-5">
        <div class="titulo"><h1>Descargas realizadas</h1></div>
        <table>
          <tr>
            <td>Archivo</td>
            <td>Fecha y hora</td> 
          </tr>
          <tr>
            <td>2019-05-29</td>
            <td>Visual Studio Code</td>
          </tr>
          <tr>
            <td>2019-05-29</td>
            <td>Prolog PDF</td>
          </tr>
          <tr>
            <td>2019-05-29</td>
            <td>Mario HTMLs</td>
          </tr>
        </table>
      </div>
    </div>
</div>